.offer-price__label {
  border-radius: 0.5rem 0 0 0.5rem;
  grid-column: 1/2;
  grid-row: 4/5;
  width: 7rem;
  border: 0.1rem solid #999;
  border-right: 0;
  text-align: center;
}

.offer-price__input {
  position: relative;
  right: -7rem;
  grid-column: 1/2;
  grid-row: 4/5;
  width: 9rem;
  text-align: end;
  border: 0.1rem solid #999;
  border-right: 0;
}

.offer-price__input-currency {
  position: relative;
  right: -16rem;
  text-align: start;
  border: 0.1rem solid #999;
  border-left: 0;
  border-radius: 0 0.5rem 0.5rem 0;
  grid-column: 1/2;
  grid-row: 4/5;
  width: 3.5rem;
}

.offer-price__label,
.offer-price__input,
.offer-price__input-currency {
  height: 100%;
  padding: 1rem;
  align-self: center;
}

.offer-price__input--disabled,
.offer-price__input-currency--disabled,
.offer-price__label--disabled {
  color: #999;
  border-color: #D0D0D040;
  background-color: #D0D0D040;
  opacity: 0.8;
}

.offer-price__error-message {
  font-size: 1.3rem;
  color: #F92828;
  grid-column: 1/-1;
  grid-row: 5/6;
  align-self: center;
}
