header {
  width: 100%;
  max-height: 5.2rem;
  font-size: 1.4rem;
  box-shadow: 0 0.2rem 1rem 0 rgba(0,0,0,0.4);
  z-index: 2;
}

.header__container {
  padding-left: 2.5rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.logo {
  height: 5rem;
  width: 5rem;
}

nav {
  position: relative;
  grid-column: 4 / span 1;
  display: grid;
  justify-items: end;
  align-items: center;
}

nav a {
  color: #000;
  text-decoration: none;
}

.user-name {
  font-weight: bold;
  padding-right: 1.5rem;
}

.header__links {
  position: absolute;
  top: 6rem;
  background: #fff;
}

.header__link {
  display: block;
  padding: 1rem;
  text-align: right;
  width: 11rem;
}

.header__link:hover {
    color:#FFFFFF;
    background-color: #000000;
    border-radius: 0.1rem;
    cursor: pointer;
    transition: background-color 0.5s ease;
    transition: color 0.5s ease;
}

@media (min-width: 768px) {
  header {
    font-size: 1.5rem;
    box-shadow: none;
    padding: 0;
    box-shadow: 0 0.3rem 0.1rem 0px rgba(0,0,0,0.15);
  }
  .header__container {
    max-width: 76.8rem;
    margin: 3rem auto 0 auto;
  }
  .header__links {
    left: 8.4rem;
    padding: 0;
  }
  .user-name {
    padding-right: 0;
  }
}

@media (min-width: 1025px) {
  header {
    padding: 0;
    font-size: 1.6rem;
  }
  .header__container {
    max-width: 118rem;
    padding: 0 2.5rem;
    display: flex;
    justify-content: flex-end;
  }
  .logo__link {
    margin-right: auto;
  }
  nav {
    display: flex;
  }
  .header__links {
    position: static;
    display: flex;
    justify-items: end;
    padding: 0 0 0 1.5rem;
    box-shadow: none;
    width: auto;
  }
  .header__link {
    width: auto;
  }
  .user-name {
    padding-right: 0;
  }
}
