header {
  width: 100%;
  max-height: 5.2rem;
  font-size: 1.4rem;
  box-shadow: 0 0.6rem 1.2rem 0 rgba(0,0,0,0.15);
}

.header__container {
  margin-top: 3rem;
  padding-left: 2.5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  z-index: 2;
}

.logo {
  height: 5rem;
}

nav {
  position: relative;
  display: grid;
  justify-items: end;
  align-items: center;
}

nav a {
  color: #000;
  text-decoration: none;
}

.user-name {
  font-weight: bold;
  padding-right: 2.5rem;
}

.header__links {
  position: absolute;
  top: 120%;
  background: #fff;
  padding: 0 1rem;
}

.header__link {
  display: block;
  padding: 1rem;
  text-align: right;
}

.header__link:hover {
    color:#FFFFFF;
    background-color: #000000;
    border-radius: 0.1rem;
    cursor: pointer;
}

@media (min-width: 768px) {
  header {
    font-size: 1.5rem;
    box-shadow: none;
    padding: 0 3rem;
  }
  .header__container {
    max-width: 76.8rem;
  }
  .header__links {
    box-shadow: 0 -0.3rem 0.1rem 0px rgba(0,0,0,0.15);
  }
}

@media (min-width: 1025px) {
  header {
    padding: 0;
    font-size: 1.6rem;
  }
  .header__container {
    max-width: 118rem;
    margin: 3rem auto 0 auto;
    grid-template-columns: 1fr 2fr;
  }
  nav {
    width: 80%;
    display: flex;
    justify-content: flex-end;
  }
  .header__links {
    position: static;
    display: flex;
    padding: 0 0 0 1.5rem;
    box-shadow: none;
  }
  .header__link {
    text-align: right;
  }
  .user-name {
    padding-right: 0;
  }

}
