.input-select {
	width: 25rem;
	border: none;
  background-color: #E0E0E0;
	color: inherit;
	outline: none;
  padding: 0.5rem;
  margin-left: 1rem;
  height: 3rem;
}

.input-select--yellow {
  width: 35rem;
	border: none;
  background-color: #FEECA5;
	color: inherit;
	outline: none;
  height: 4rem;
  margin-top: 0.5rem;
  padding-left: 1rem;
  position: relative;
  top: 0.5rem;
}

.input-select__errorMessage {
  font-size: 1.2rem;
  color: red;
  margin-top: 0.5rem;
  text-align: right;
}

.input-select__errorMessage2 {
  position: relative;
  bottom: -0.5rem;

}

.input-select__item-option {
	color: #000;
	background-color: #E0E0E0;
  font-size: 1.68rem;
}

.input-select__item-option--yellow {
	color: #000;
	background-color: #FEECA5;
  font-size: 1.6rem;
}

.select_span--block{
  display: block;
}

.select_span--block2{
  display: block;
  position: relative;
  bottom: -1.6rem;
}
