.input-select__inline-label {
  width: 100%;
  height: 100%;
  position: relative;
  border: 0.1rem solid #999;
  border-radius: 0.5rem;
  display: grid;
  grid-template-columns: 30% 1fr;
}

.input-select__label {
  text-align: center;
  align-self: center;
}

.input-select {
  border: none;
  border-left: 0.1rem solid #999;
  border-bottom-right-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  padding-left: 1rem;
  outline: none;
}

.input-select__dropdown-arrow {
  appearance: none;
  background: url("/assets/images/generic-select/triangle.png") no-repeat right #fff;
  background-size: 2rem 2rem;
  background-position: 97% 50%;
}

.input-select__errorMessage {
  position: absolute;
  right: 0;
  bottom: -2.5rem;
  font-size: 1.2rem;
  color: #F92828;
}

.input-select__errorMessage--add-offer {
  bottom: -1.7rem;
}
