.login-form__title {
  font-size: 2.4rem;
  text-align: center;
}

.login-form__item {
height: 4rem;
margin: 4rem 2rem 0rem 2rem;
}

.login-form__item--button {
  width: 60%;
  height: 4rem;
  margin: 4rem auto 0rem auto;
}

.login-form__register-link {
  width: 60%;
  margin: 2rem auto 0rem auto;
  text-align: right;
}
