.add-form {
  font-size: 1.2rem;
  margin: 0 2rem;
}

.add-form__item {
  height: 4rem;
  margin: 3.5rem auto 0 auto;
}

.add-form__item--input,
.add-form__fieldset-wrapper {
  width: 100%;
}

.add-form__item--input--custom-margin-category {
  margin-bottom: 6rem;
}

.add-form__item--button {
  width: 19.5rem;
}

.add-form__title {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 4rem;
}

.add-form__error-message--wrapper {
  text-align: center;
}

.add-form__error-message--paragraph {
  font-size: 1.6rem;
  color: #F92828;
}

.add-form__fieldset {
  position: relative;
  border: none;
  margin-top: 4rem;
  padding-bottom: 6rem;
  border-bottom: 1px solid;
}

.add-form__fieldset:last-of-type{
  border: none;
  padding-bottom: 0;
}

.add-form__fieldset:nth-child(2) {
  padding-bottom: 2.5rem;
}

.add-form__fieldset-wrapper {
  margin: 3rem auto 0 auto;
}

.add-form__fieldset-item--textarea,
.add-form__caption {
  margin-top: 3.5rem;
}

.add-form__caption {
  margin-bottom: 6rem;
}

.add-form__caption--paragraph {
  font-size: 1.5rem;
  color: #24313c;
}

.add-form__input--disabled {
  background-color: #FFFFFF;
  border: 0.1rem solid #D0D0D0;
  color: #D0D0D0;
}

.add-form__input--disabled::placeholder {
  color: #D0D0D0;
}

.add-form__offer-container {
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 45% 1fr 1fr;
  grid-template-rows: 3.5rem minmax(15rem, max-content) 3.5rem 3.8rem 3.5rem;
}

@media (min-width: 400px) {
  .add-form__offer-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 768px) {
  .add-form {
    font-size: 1.3rem;
  }

  .add-form__item--input, 
  .add-form__fieldset-wrapper,
  .add-form__offer-container {
    width: 55rem;
  }

  .add-form__item--button {
    width: 28rem;
  }
}

@media (min-width: 1025px) {
  .add-form {
    font-size: 1.4rem;
  }
}
